<a href="../prepare.html">Home</a>
<a>

</a><br><br>

<a href="http://unix.stackexchange.com/questions/128220/how-do-i-set-my-dns-when-resolv-conf-is-being-overwritten">set dns server name</a><br><br>

<a>
<font size="6">
Configuring network cards<br>
<font size="4.5">
$cat /etc/network/interfaces<br>
auto lo<br>
iface lo inet loopback<br>
<br>
<br>
iface eth0 inet static<br>
address 192.168.0.101<br>
netmask 255.255.255.0<br>
gateway 192.168.0.1<br>
</a><br>
<a href="http://ubuntuforums.org/showthread.php?t=1574391">how to select ethernet cards to be uped during boot</a><br><br>