<a href="../prepare.html">Home</a><br>
<a href="http://blog.scottlowe.org/2006/08/21/native-kerberos-authentication-with-ssh/">Change ssh to kerberos</a><br>
<a>
$cd /etc/pam.d<br>
$sudo scp mtcaadmin@mtcapitzcpu5:/etc/pam.d/sshd .<br>
$ls -al /lib/*/security#this is done to check libs<br>
$sudo apt-get install  libpam-afs-session<br>
$sudo scp mtcaadmin@mtcapitzcpu5:/etc/pam.d/password-auth .<br>
</a>
