<a href="../prepare.html">Home</a><br><br>

<a>
sudo apt-get install ntp<br>
nedit /etc/ntp.conf<br>
sudo /etc/init.d/ntp restart
</a><br><br>

<a href="https://help.ubuntu.com/10.04/serverguide/NTP.html">Example</a><br><br>

