<a href="../prepare.html">Home</a><br><br>



<a>
# ls -l /etc/rc?.d/*apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc0.d/K91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc1.d/K91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc2.d/S91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc3.d/S91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc4.d/S91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc5.d/S91apache2 -> ../init.d/apache2<br>
lrwxrwxrwx 1 root root 17 2007-07-05 22:51 /etc/rc6.d/K91apache2 -> ../init.d/apache2<br><br>

As you can see, for runlevels 0, 1 and 6 there is a K at the beginning of the link, for runlevels 2, 3, 4 and 5, there is a S. Those two letters stands for Kill and Start.<br>
On Debian and Ubuntu, runlevels 2, 3, 4 and 5 are multi-users runlevels.<br>
Runlevel 0 is Halt.<br>
Runlevel 1 is single user mode<br>
Runlevel 6 is reboot<br>
</a><br>



<a href="http://www.debuntu.org/how-to-managing-services-with-update-rc-d/">Link1</a><br><br>