<a href="../prepare.html">Home</a><br><br>

<a></a>
$sudo apt-get update<br>
$sudo apt-get install linux-source
<br><br>

<a href="http://www.cyberciti.biz/faq/installing-full-kernel-source-ubuntu-linux/">Look here</a>