<a href="../prepare.html">Home</a><br><br>

<a>sudo apt-get install linux-headers-$(uname -r)</a><br><br>

<a href="http://askubuntu.com/questions/75709/how-do-i-install-kernel-header-files">Example</a>