<a href="../prepare.html">Home</a><br><br>

<a>
$sudo apt-get install openafs-krb5 openafs-client krb5-user module-assistant openafs-modules-dkms<br>
$sudo dpkg-reconfigure krb5-config openafs-client<br>
$sudo m-a prepare<br>
$sudo m-a auto-install openafs<br>
$sudo modprobe openafs<br>
$sudo service openafs-client restart<br>
$kinit kalantar@IFH.DE<br>
check by (tokens, klist) and if needed<br>
$aklog<br>
</a><br>

<a href="http://tig.csail.mit.edu/wiki/TIG/OpenAFSOnUbuntuLinux">Example</a>