<a href="../prepare.html">Home</a><br><br>

<br>

<a href="http://www.upubuntu.com/2012/12/how-to-run-jnlp-files-under-ubuntulinux.html">run jnlp files</a>
<br>
<a>
<br>
By default DHCP clients timeout ~5m (/etc/dhcp/dhclient.conf)
<br>
</a>
<a href="http://unix.stackexchange.com/questions/132616/ifup-eth0-timeout-during-boot">Setup DHCP client timeout</a>
<br>
<a href="https://www.digitalocean.com/community/articles/how-to-install-java-on-ubuntu-with-apt-get">install java</a><br><br>
<a>
<br>
$sudo nedit /etc/environment  
<br>
#then add /doocs/bin to the path, and create ENSHOST environmental variable (value: picus7:picus8) 
<br>
#and LD_LIBRARY_PATH="/doocs/lib"
<br>
</a>
